html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address,
form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

ol {
    margin-left: 1.4em;
    list-style: decimal;
}
ul {
    margin-left: 1.4em;
    list-style:square;
}
img {
    border: 0;
}

h1 {
    font-size: 2em;
}

#header {
    height: 100px;
    width: 100%;
    background: #000;
    color: #FFF;
}
#navBar {
    display: block;
    height: 50px;
    background: #555;
    color: #FFF;
}

#content {
    vertical-align: middle;
    font-family: Monospace;
    text-align: center;
    display: none;
    font-size: 1.4em;
}
